<h1>I/O Tools - Pandas</h1><h2 align="center">Data Selection</h2>

In [ ]:
from pandas import read_csv, DataFrame

data: DataFrame = read_csv(
    "data/stroke.csv", index_col="id", sep=",", decimal=".", date_format="DD/MM/YYYY"
)
data

In [ ]:
data.head(n=3)

<h3>Data Structure</h3>

In [ ]:
data.columns

In [ ]:
data.index

In [ ]:
data.values

In [ ]:
print("Nr of records = ", len(data))
print("Dimensionality = ", data.shape)

<h3>Data Access</h3>

In [ ]:
data["age"]

In [ ]:
data.loc[9046]

In [ ]:
data.loc[9046, "age"]

In [ ]:
data["age"].loc[9046]

In [ ]:
data["age"][9046]

<h3>Data Aggregations</h3>

In [ ]:
data_subset: DataFrame = data.sample(frac=0.05, replace=False)
data_subset